.DS_Store
._*
.metadata
.settings
*.o
*.so
.classpath
.project
*~
*~.nib
*~.xib
*.jar
*.c.flc
*.out
00MANIFEST
bin/
include
/lib
log
testdir
testdir/
version
local
local/
local.subdirs
*.xcworkspace
xcuserdata
CVS
.svn
*.mode1v3
*.pbxuser
external\ source/*/*


